.place__paragraf {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 24px;
}

.place__paragraf:last-of-type {
  margin-bottom: 0;
}
