.footer__links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(5, max-content);
  column-gap: 18px;
}

@media screen and (max-width: 767px) {
  .footer__links {
    grid-template-columns: max-content;
    row-gap: 32px;
    margin-bottom: 48px;
  }
}
