.cover {
  width: calc(100% - 48px * 2);
  height: 740px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
    height: 640px;
  }
}

@media screen and (max-width: 780px) {
  .cover {
    width: 100%;
    height: 480px;
  }
}

@media screen and (max-width: 560px) {
  .cover {
    width: 100%;
    height: 200px;
  }
}
