.cover__title {
  max-width: 560px;
  z-index: 1;
  margin: 0 auto;
  margin-bottom: 32px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.05;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .cover__title {
    width: calc(100%-16px * 2);
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 1.09;
  }
}
